.login-page {
  background: url('../../assets/bg.jpg') no-repeat center center;
  background-size: cover;
}

.login-page{
.navbar-logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.navbar-logo .logo {
  height: 43px;
  max-height: 50px;
  width: auto; 
  display: block;
  margin: 0 auto;
}

.navbar-buttons {
  display: flex;
  gap: 0.5rem;
}
.btn-outline-light{
  font-size: medium;
  color: #f8f9fa;
  border-style: hidden;
  transition: ease-in-out;
}

.btn-outline-light:hover{
  font-weight: 600;
  font-size: large;
  color: #f8f9fa;
  background-color: #212529;
}

.navbar-brand {
  margin-right: 0;
  text-align: right;
  flex-grow: 1;
  color: #f8f9fa;
}

.login-container {
  background: #f8f9fa;
  padding: 40px;
  border-radius: 8px;
  max-width: 400px;
  width: 100%;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.7);
  text-align: center;
}

.login-container form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.login-container label {
  font-weight: bold;
  color: #212529;
}

.login-container input {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #212529;
  width: 100%;
}

.error {
  color: red;
  font-size: 14px;
  margin-top: 10px;
}

.login-container button {
  background-color: #212529;
  color: #f8f9fa;
  padding: 8px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.login-container button:hover {
  color: #212529;
  background-color: #f8f9fa;
  border: 2px solid #212529;
  font-weight: 500;
 
}

.signup-link {
  color: #212529;
  font-size: 14px;
  text-decoration: none;
  margin-top: 30px;
}

.signup-link:hover {
  font-weight: bold;
  
}

@media (max-width: 768px) {
  .login-container {
    width: 90%;
  }
}
}
